.chat-room-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;
  width: 60vw;
  min-width: 400px;
  margin: auto;
}

.recipient {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-picture {
  background-color: white;
  border-radius: 50%;
  border: solid gray 2px;
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  min-height: 60px;
  min-width: 60px;
  overflow: hidden;
  margin-right: 1em;
}

.header-picture img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%
}

.return-link {
  font-weight: bolder;
  color: #5eaaa8;
  cursor: pointer;
  transition: all 0.5s
}

.return-link:hover {
  color: steelblue;
}

.main__chat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
}  

.box__chat{
    background-color: #f8f1f1;
    height: 75vh;
    width: 60vw;
    min-width: 400px;
    padding: 1em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    /* top: 18vh; */
}

.box__sent{
    width: 100%;
}

.box__sent:nth-last-child(2){
  margin-bottom: 80px;
  /* height:10vh; */
}

.box__sent:nth-last-child(2) .chat-timestamp{
  visibility: visible
  /* height:10vh; */
}


.box__sent:hover .chat-timestamp {
  visibility: visible
}

.profile__user__chat{
    width: 4em;
    background-color:wheat;
    border-radius: 40%;
    padding: 10px
}

.text__handle{
    padding: 5px;
    width: 65%;
    display: flex;
    border-radius: 5px;
}

.text__chat{
    word-break: break-all;
    font-size: 20px;
    padding: 5px;
    color: black
}

.text__input{
    background-color:none;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.input-message-container {
  display: flex;
}

.input__message{
    resize: none;
    padding: 0.5em;
    width: 100%;
}

.last-message-container {
  display:flex;
  flex-direction: column;
  align-items:center;
  height: 80vh !important;
  overflow-y: auto;
}

.chat-title {
  text-align: center;
  font-size: 1.5em !important;
  font-weight: bolder;
  margin: 0.4em 0;
}

.send-button {
  width: 70px;
}
