.discovery {
  min-height: 100vh;
  background-color: #f8f1f1;
}

.discovery__container {
  max-width: 70%;
  margin: 0 auto;
}

.photos {
  padding: 1rem;
}

.loading__discovery {
  min-height: 100vh;
  background-color: #a3d2ca;
  padding: 20rem;
}

.loading__discovery h3 {
  display: block;
}


.goToTop{
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  transition:0.5s
}

.imgTop{
  transition:0.5s;
  width: 50px;
}

.loader{
  position: relative;
  top:26vh;
  left:73vh
}