.header__image__container {
  max-width: 100%;
  margin: 0 auto;
  /* background-color: red */
  background-image: url(../images/bg_1.jpg);
  height: 25em;
}
.row {
  --bs-gutter-x: 0;
}

.user__container {
  position: relative;
  bottom: 7em;
}

.user__info__container {
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
  position: sticky;
  top: 0;
  padding-top: 20px;
  width: 25em;
  left: 5em;
}

.header__image {
  width: 140px;
  position: relative;
  left: 36%;
  border-radius: 50%;
  background-color: #333;
  padding: 8px;
}

.username__text {
  font-size: 30px;
  text-align: center;
}

.text {
  font-size: 18px;
}

.btn__chat {
  height: 55px;
  width: 150px;
  /* justify-self:center */
  border-radius: 20px;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  left: 5em;
}

/* .main__content{
  position: relative;
  left: 20px
} */

.items__container {
  /* background-color: red; */
  padding-top: 30px;
}

.items__images {
  display: flex;
  flex-direction: row;
}

.item__image {
  width: 200px;
}

.see__all {
  position: absolute;
  left: 85%;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.btn {
  margin: 2px 4px;
  font-size: 20px;
  font-weight: 800;
}

.buttons {
  justify-content: space-between;
}

.navbar__anchor {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  /* margin-top: 20px; */
  color: black;
}

.add__showCase {
  position: absolute;
  right: 14em;
  /* top:1px */
}

.imgCase {
  position: relative;
  bottom: 2.1em;
  width: 40px;
  /* background-color: ; */
}

.fa-edit {
  cursor: pointer;
}
