.header__image__container {
  max-width: 100%;
  margin: 0 auto;
  /* background-color: red */
  background-image: url(../images/bg_1.jpg);
  height: 25em;
}
.row {
  --bs-gutter-x: 0;
}

.user__container {
  position: relative;
  bottom: 7em;
}

.user__info__container {
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
  position: sticky;
  top: 0;
  padding-top: 20px;
  width: 25em;
  left: 5em;
}

.header__image {
  width: 140px;
  position: relative;
  left: 36%;
  border-radius: 50%;
  background-color: #333;
  padding: 8px;
}

.header__image__test {
  width: 140px;
  height: 140px;
  position: relative;
  left: 36%;
  border-radius: 50%;
  background-color: red;
  padding: 8px;
}

.username__text {
  font-size: 30px;
  text-align: center;
}

.text {
  font-size: 18px;
}

.btn__chat {
  height: 55px;
  width: 150px;
  /* justify-self:center */
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  left: 5em;
}

.items__container {
  padding-top: 30px;
}
.items__images {
  display: flex;
  flex-direction: row;
  /* background-color: #191919; */
  border-radius: 5px;
}

.items__image {
  /* background-color: crimson; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 0.5rem;
  /* color: #eee; */
}
.item__image {
  width: 35vh;
  box-shadow: 10px 10px 5px #687980;
  margin-top: 25px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.item__image:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.9;
}

.see__all {
  position: relative;
  /* left: 179vh; */
  text-decoration: none;
  color: black;
  font-size: 23px;
  /* top: 0; */
}

.btn {
  margin: 2px 4px;
  font-size: 20px;
  font-weight: 400;
}

.buttons {
  justify-content: space-between;
}

.navbar__anchor {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  /* margin-top: 20px; */
  color: black;
}

.add__showCase {
  position: absolute;
  right: 14em;
  /* top:1px */
}

.imgCase {
  position: relative;
  bottom: 2.1em;
  width: 40px;
  /* background-color: ; */
}

.fa-edit {
  cursor: pointer;
}

.items__showcase {
  background-color: black;
}
