.imgWishlist{
    width: 21vh;
    padding: 13px;
    background-color:aqua;
    margin-top: 10px;
}

.rowImg{
    margin-top: 90px;
    /* background-color:red; */
    padding: 20px;
    display:grid;
}

.gridImg{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.btnAdd{
    margin-top: 10px;
    height:4vh
}