.history-chat {
  background-color: whitesmoke;
  padding: 1em;
  width: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  transition: all 0.5s;
  cursor: pointer
}

.history-chat:hover {
  background-color: #a3d2ca
}

.contact-picture {
  background-color: white;
  border-radius: 50%;
  border: solid gray 2px;
  display: flex;
  align-items: center;
  height: 75px;
  width: 75px;
  min-height: 75px;
  min-width: 75px;
  overflow: hidden;
  margin-right: 1em;
}

.contact-picture img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%
}

.username {
  font-weight: bold;
  font-size: 1.15em;
  color:#db6400;
}

.header-chatbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.chatbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-content {
  width: 100%
}

.channel-chat {
  color: rgb(85,85,85)
}